html,
body {
  background-color: #f5f5dc;
  padding: 0;
  margin: 0;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

.title {
  margin: 0;
  background-color: #d9d9d9;
  text-align: center;
  padding: 30px 0px 30px 0px;
}

.flex-center {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.pink-button {
  margin: 10px;
  padding: 10px;
  border: none;
  background-color: #ffc0c0;
  cursor: pointer;
  text-align: center;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  font-family: "Inter", sans-serif;
}

#next-plant {
  padding-left: clamp(20px, 5%, 8%);
  padding-right: clamp(20px, 5%, 8%);
}

#plant-gallery {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: fit-content;
  margin: 0;
  overflow-x: scroll;
  scroll-behavior: smooth;
  /* scroll-snap-type: x mandatory; */
}

#plant-gallery::before,
#plant-gallery::after {
  content: "";
  flex: 0 0 50%; /* Adjust as needed */
}

.plant-gallery-content {
  aspect-ratio: 5 / 3;
  scroll-snap-align: center;
}

.plant-gallery-content img {
  width: 30vw;
  aspect-ratio: 3 / 4;
}

.gallery-image-title {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.gallery-image-title > * {
  margin: 0;
  padding: 0;
  color: #000000;
  text-align: left;
  font-family: "Inter", sans-serif;
}

.gallery-image-title-en {
  color: #c3ffed;
  font-size: clamp(1rem, 4vw, 1.5rem);
  font-weight: bold;
}

.gallery-image-title-zh {
  color: #a4e3cb;
  font-size: clamp(0.75rem, 3vw, 1.25rem);
}

#plant-info {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#plant-info img {
  width: 100%;
  height: 100%;
}

#plant-info > div {
  position: relative;
  margin: 10px;
  padding: 0;
}

.plant-info1 {
  width: 50vw;
  aspect-ratio: 0.75;
}

.plant-info1 img{
  object-fit: cover;
}
#plant-info > div > * {
  margin: 0;
  padding: 0;
}

.plant-info-div {
  position: absolute;
  padding: 0 2em
  
}

.plant-info1-div {
  width: 100%;
  height: 50%;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  background: linear-gradient(180deg, #00000000, #124e70);
}

.plant-info2,.plant-info3{
  height: 90vh;
  aspect-ratio: 2/1;
}

.plant-info2-div {
  width: 50%;
  height: 100%;
  top: 50%;
  right: 0;
  transform: translate(0%, -50%);
  background: linear-gradient(90deg, #00000000, #124e70);
  
}

.plant-info3-div {
  width: 50%;
  height: 100%;
  top: 50%;
  left:0;
  transform: translate(0%, -50%);
  background: linear-gradient(270deg, #00000000, #124e70);
}

#plant-info > div > div > * {
  width: 100%;
  color: white;

  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 1.1em;
}

.grid-style {
  width: 80% !important;
  display: grid !important;
  padding: 10px !important;
  grid-template-columns: repeat(auto-fill);
  align-items: center;
  grid-gap: 10px;
  margin-left: auto;
  margin-right: auto;
}

.grid-style > * {
  margin: 0;
}

#learn-more {
  text-decoration: none;
  color: #000000;
}

@media only screen and (max-width: 700px) {
  .plant-info2,.plant-info3{
    height: 30vh;
    aspect-ratio: 2/1;
  }

  #plant-info > div > div > * {
    font-size: 0.9em;
  }
}