.hero{
    width:100%;
    height:fit-content;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.hero video{
    width:100vw;
    object-fit: cover;
    position:relative;
    top:0;
    left:0;
    z-index:0;
    opacity:0.8;
}

.hero h1{
    font-size: 4em;
    margin:0;
}

.hero p{
    font-size: 1em;
    margin:0;
    color:#CDE7F5;
}

.hero h1,.hero p{

    animation: fadeIn 2s backwards;
    animation-delay: 1s;
    z-index: 1;
}

.contains-hero-text{
    display: flex;
    text-align: center;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    padding: 2em 3em;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.8);
}

.contains-hero-text::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #878726;
    -webkit-mask: radial-gradient(ellipse at center, rgba(135,135,38,0.4898751737022934) 0%, rgba(132,132,37,0.09) 77%, rgba(130,130,30,0) 100%);
    backdrop-filter: blur(0.5em);
    z-index:0;
    top:0;
    left:0;
}

.description-box {
    color: #0B3D2E; 
    font-size: 0.8em; 
    line-height: 1.7; 
    margin-left: auto;
    margin-right: auto;
    padding: 0em 3em;
    transition: max-height 0.5s cubic-bezier(0.4,0,0.2,1), opacity 0.4s;
}

#toggle-description {
    color: #0B3D2E;
    cursor: pointer;
    display: flex; 
    align-items: center; 
    gap: 0.7em; 
    background-color: #F5F5DC;
    outline: 0;
    transition: background 0.2s; 
    font-family: inherit;
}

@media only screen and (max-width: 768px) {
    .hero video{
        object-fit: cover;
    }

    .hero{
        height: 30vh;
    }

    .hero h1{
        font-size: 3em;
        margin:0;
    }

    .hero p{
        font-size: 0.8em;
    }
}