.navbar{
    background-color: #0B3D2E;
    color: #F5F5DC;
    display: flex;
    gap:1em;
    align-items: center;
    width:fit-content;
    position:fixed;
    right:0;
    top:1em;
    z-index: 1000;
    font-size: calc(1vw + 10px) !important;
}

.navbar a{
    color: #F5F5DC;
    text-decoration: none;
    padding:0.5em 1em;
    cursor:pointer;
}

.navbar a:hover{
    filter: brightness(0.8);
    backdrop-filter: brightness(0.8);
}

.nav2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    /* right: 10em; */
    top: 2em;
    width:fit-content;
    background-color: #0B3D2E;
    color: #F5F5DC;
    z-index: 1000;
    display: none;
}

.redirect{
    /* position: fixed; */
    background-color: #0B3D2E;
    color: #F5F5DC;
    padding:0.5em 1em;
    text-decoration: none;
    /* z-index: 1000;
    /* right: 10em; */

}

@media screen and (max-width: 500px) {
    .navbar a{
        color: #F5F5DC;
        text-decoration: none;
        padding:0.5em 1em;
        cursor:pointer;
        font-size: calc(1vw + 5px);
    }
}

/* #rainforestRedirect{
    top: 4em;
    right:
}

#wetlandsRedirect{
    top: 6em;
}

#pondRedirect{
    top: 8em;
}

#gardenRedirect{
    top: 10em;
} */