body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F5F5DC; /* Beige yellow background for the entire website */
}

.container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.top-header, .sub-header {
  padding: 32px 16px;
  text-align: left;
  margin-top: 1%;
}

.sub-header {
  text-align: center;
  width: 100em;
}

.sub-header h2 {
  font-size: 36px;
}

.sub-header p, .text-section p, .eco-grid-item p {
  font-size: 18px;
}

.text-section {
  padding: 8px 16px;
}

.text-section h1, .text-section h2, .text-section h3 {
  margin: 0;
  padding: 16px 0;
  font-size: 24px;
}

.grid-container, .eco-trail-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  margin: 1.5em;
  align-items: center;
  justify-content: center;
}

.grid-container {
  grid-auto-rows: 200px;
}

.grid-item, .eco-grid-item {
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.item1, .item2, .item5, .item6 {
  grid-column: 1 / -1; /* Span all columns */
}

.item3, .item4, .item7, .item8 {
  grid-column: span 1 / auto; /* Single column span */
}


.eco-grid-item.text-right, .text-right {
  text-align: right;
}

.image-text-container {
  display: flex;
  flex-direction: column;
}

.image-container img, .rain-image img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

@media (max-width: 768px) {
  .grid-container, .eco-trail-grid {
    grid-template-columns: 1fr; /* One column for smaller screens */
  }



  .top-header, .sub-header {
    padding: 16px 8px;
  }
}

@keyframes drop-in {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

span.space {
  white-space: pre; /* This preserves whitespace */
}

p span {
  display: inline-block;
  opacity: 0;
  animation: drop-in 0.6s forwards;
}
