body{
    font-family: "Inter", sans-serif;
    font-size: 1.7rem;
    width: 100%;
    margin: 0; 
    overflow-x: hidden;
    background-color: #EEEEEE;
}

section {
    border-top: solid 2px #0B3D2E;
}

.box{
    width: 30vw;
    border: 1px solid black;
    margin: 3rem auto;
    min-height: 20rem;
    padding: 0.5rem;
    background-color: #D9D9D9;
}

#box0{
    width: 40vw;
    margin-top: 3rem;
    height: 85vh;
}

#box1{
    width: 80vw;
    padding: 1rem;
    height: 70vh;
}

#box2{
    width: 80vw;
    padding: 1rem;
    height: 70vh;
}

#boxcenter{
    margin-top: auto;
}

.bottom{
    position: absolute;
    bottom: 0 !important;
    margin-bottom: 0;
    padding: 1rem;
    height: 20vh;
    right: 2vw;
}

button{
    padding: 1rem 3rem;
    border: 1px solid black;
    margin: 1rem auto;
    display: block;
    font-size: 1rem;
}

button:hover{
    cursor: pointer;
    box-shadow: 0.5rem 0.5rem 0.1rem lightgrey;
    transform: scale(1.1);
    transition: 0.8s;
}

.center{
    text-align: center;
}

.C3FFED{
    color: #C3FFED;
}

.fadebottom{
    background-image: linear-gradient(to bottom, rgba(18, 78, 112, 0.49), rgba(18, 78, 112, 0.12)); 
}

.fadetop{
    background-image: linear-gradient(to bottom, rgba(18, 78, 112, 0.12), rgba(18, 78, 112, 0.49));
}

.nofade{
    background-color:rgba(18, 78, 112, 0.49)
}

.flex{
    display: flex;
    justify-content: center;
}

.floatLeft, .floatRight{
    opacity: 0;
    transition: all 3s;
}

.floatLeft{
    right: 2vw;
}

.floatRight{
    left: 2vw;
}

.fullheight{
    height: 100vh;
    width: 100vw;
}

.grey{
    text-align: center;
    color: grey;
    border: 1px solid black;
    font-size: 4.5rem;
    padding-top: calc(100vh/2 - 13rem);
    padding-bottom: auto;
}

.grey2{
    text-align: center;
    color: grey;
    border: 1px solid black;
    font-size: 4rem;
    padding-top: calc(100vh/3 - 9rem);
    padding-bottom: auto;
}

.grey:hover{
    font-size: 4.8rem;
    padding-top: calc(100vh/2 - 13.3rem);
    transition:1s
}

.grey2:hover{
    font-size: 4.3rem;
    padding-top: calc(100vh/3 - 9.3rem);
    transition:1s
}

.grid{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
    margin: 0;
    margin-bottom: 0;
    grid-template-areas: "a a"
    "b c";
    /* place-items: center; */
}

.grid2{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    height: 100vh;
    width: 100%;
    margin: 0;
    margin-bottom: 0;
}

.grid-items{
    padding: 3rem;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: auto;
    padding-bottom: auto;
}

#gridA{
    grid-area: a;
}

#gridB{
    grid-area: b;
}

#gridC{
    grid-area: c;
}

h1{
    font-size: 4.5rem;
    margin-bottom: 0;
    margin: 0.5rem 0rem;
}

h2{
    text-align: center;
    font-size: 4rem;
    padding: 1rem;
    margin: 0;
    height: 15vh;
}

h3{
    text-align: center;
    font-size: 2.5rem;
    padding: 2rem 10rem 1rem 10rem;
    display: block;
    margin-top: 0;
    height: 25vh;
}
/* 
.hidden{
    opacity: 0%;
    transition: all 2s;
} */

.halfheight{
    height: 50vh;
}

#header{
    background-color: #D9D9D9;
}

#headerimg{
    height: 40vh;
    width: 70vw;
    margin-top: 10vh;
    margin-bottom: 5vh;
}

img{
    border: 1px solid black;
}

.left{
    text-align: left;
}

#marginpls{
    padding-top: 30vh;
}

#Mangrove1{
    background-image: url('../assets/Eco Trail Logo.png'), url('../assets/Mangrove1.png');
    background-size: cover;
}

#Mangrove2{
    background-image: url('../assets/Mangrove2.png');
    background-size: cover;
}

#Mangrove3{
    background-image: url('../assets/Mangrove3.png');
    background-size: cover;
}

#Plant_Gallery{
    background-color: rgb(249, 244, 217);
}

p{
    display: block;
    text-align: center;
    padding: 0 2.8rem;
    padding-right: 5rem;
    bottom: 0;
}

#plant1{
    width: 27vw;
    height: 40vh;
}

#plant2{
    width: 35vw;
    height: 50vh;
}

#plant3{
    width: 27vw;
    height: 40vh;
}

pre{
    font-family: "Inter", sans-serif;
    margin: 0.5rem 2rem;
    display: inline-block;
}

section{
    height: 100vh;
    margin: 0;
}

.Wetlands{
    object-fit: cover;
    background-size: 100vw;
    background-repeat: no-repeat;
    position: relative;
}

#Wetlands_What{
    background: url('../assets/Wetlands.png');
    position: relative;
    background-size: cover;
}

@media only screen and (max-width: 768px) {
    body{
        font-size: 0.8rem;
    }

    .bottom{
        height: 15vh;
    }

    .mobileback{
        background-color: rgba(0, 0, 0, 0.3);
        padding: 1.5rem 1rem;
        margin-left: 0;
        margin-right: 0;
        position: absolute;
        bottom: 20vh;
        width: 90vw;
    }

    .floatLeft, .floatRight{
        position: absolute;
    }

    h1{
        font-size: 2rem;
        margin-left: 0;
    }

    h2{
        font-size: 1.8rem;
    }

    h3{
        font-size: 1.3rem;
        padding: 0.2rem;
        height: 20vh;
    }

    .grey{
        font-size: 2rem;
        height: 10vh;
        padding: calc(20vh) 0;
    }
    
    .grey:hover{
        font-size: 2rem;
        height: 10vh;
        padding: calc(20vh) 0;
        transition: 0s;
    }

    .grey2{
        font-size: 1.6rem;
        padding-top: calc(100vh/3 - 7rem);
    }

    .grey2:hover{
        font-size: 1.6rem;
        padding-top: calc(100vh/3 - 7rem);
    }

    .gridPaddingRemove{
        padding: 0;
    }
    
    #load1, #load2{
        translate: -15vw;
        padding: 0 0.5rem;
        margin-left: 3vw;
        width: 80vw;
    }

    p{
        padding: 0 1rem;
    }

    .remove{
        grid-template-columns: 100%;
        grid-template-areas:
        "a"
        "b";
        color: #C3FFED;
    }

    .resize{
        grid-template-columns: 100%;
        grid-template-rows: 30% 30%;
        grid-template-areas:
        "a"
        "b";
    }

    .resize2{
        grid-template-rows: 40% 60%;
    }

    #topText{
        position: absolute;
        top: 30vh;
    }

    #bottomText{
        position: absolute;
        top: 70vh;
    }

    .bottom20{
        position: absolute;
        bottom: 20vh;
    }

    .bottom50{
        bottom: 50vh;
    }
}