<html lang="en">
	<head>
		<title>Fruit Tree Garden</title>
		<link rel="stylesheet" href="">
	</head>
	<body>
		<section class = "grid-container">
			<div class = "grid-item"><img src = "../static/assets/oh_chee_chee.jpg" alt = "oh chee chee" width = "500px" height = "500px"></div>
			<p class = "grid-item">Fruit trees play important roles in our lives. As an important nutrition source, the various parts of the tree, including its fruits, provide abundant food and help bolster food security. <br>They support the biodiversity of life by providing habitats for a diverse range of organisms such as insects, birds and bees.</p>
			<div class = "grid-item"><img src = "../static/assets/oh_chee_chee.jpg" alt = " oh chee chee" width = "500px" height = "500px"></div>
			<p class = "grid-item">Trees are important in our fight against climate change as they sequester carbon by using carbon dioxide during photosynthesis. <br>They are also key in preventing surface runoffs and soil erosion by intercepting rainwater at their canopies and absorbing rainwater through their roots.</p>
			<div class = "grid-item"><img src = "../static/assets/oh_chee_chee.jpg" alt = "oh chee chee" width = "1200px" height = "500px"></div>
			<p clss = "grid-item">While providing us oxygen through photosynthesis, the trees also remove air pollutants and provide us with a calming environment, improving our mental and physical well-being.<br>Let us take a look at the fruit trees in our Fruit Tree Garden!</p>
		</section>
	</body>
</html>