<html lang="en">

<head>
	<title>Fruit Tree Garden</title>
	<link rel="stylesheet" href="../static/css/fruit_tree.css">
</head>

<body>
	<section class="grid-container">
		<div class="grid-item" id = "leaf_image">
			<img src="../static/assets/fruitTreeLeaf.png.jpg" alt="fruit tree leaf" style="aspect-ratio: 1; height: 17.5em;">
		</div>

		<p class="grid-item" id = "leaf_text">Fruit trees play important roles in our lives. As an important nutrition source, the various parts of the tree, including its fruits, provide abundant food and help bolster food security. <br>They support the biodiversity of life by providing habitats for a diverse range of organisms such as insects, birds and bees.</p>
		
		<div class="grid-item" id = "root_image">
			<img src="../static/assets/fruitTreeRoot.png" alt="fruit tree root" style="aspect-ratio: 1; height: 17.5em;">
		</div>
		
		<p class="grid-item" id = "root_text">Trees are important in our fight against climate change as they sequester carbon by using carbon dioxide during photosynthesis. <br>They are also key in preventing surface runoffs and soil erosion by intercepting rainwater at their canopies and absorbing rainwater through their roots.</p>
		
		<div class="grid-item" id = "garden_image">
			<img src="../static/assets/fruitTreeGarden.png.jpg" alt="fruit tree garden" style="aspect-ratio: 2.648; height: 17.5em;">
			<p class="grid-item" id = "garden_text">While providing us oxygen through photosynthesis, the trees also remove air pollutants and provide us with a calming environment, improving our mental and physical well-being.<br>Let us take a look at the fruit trees in our Fruit Tree Garden!</p>
		</div>
	</section>
</body>

</html>