<!DOCTYPE html>
<html>
    <head>
        <title>Library Page</title>
        <link rel = "stylesheet" href = "../static/css/library.css">
        <link rel = "stylesheet" href = "../static/css/default.css">
    </head>
    <body>
        <div class = "action-buttons">
            <input type = "text" placeholder = "Search" class = "button">
            <input type = "button" value = "Area" placeholder = "Search" class = "button">
            <input type = "button" value = "Type" placeholder = "Search" class = "button">
        </div>
        <div class = "library">
            <div class = "library-element box-shadow--primary" onclick="libraryElementClick()">
                <p class = "description tetriary">Description Goes here bla bla</p>
                <img class = "library-element-background" src = "https://media.istockphoto.com/id/1409329028/vector/no-picture-available-placeholder-thumbnail-icon-illustration-design.jpg?s=612x612&w=0&k=20&c=_zOuJu755g2eEUioiOUdz_mHKJQJn-tDgIAhQzyeKUQ=">
                <p class = "location tetriary">Location</p>
                <h3 class = "name primary">Name</h3>
                
            </div>
        </div>
        <div class = "popup_background hidden"></div>
        <div class = "popup_library hidden">
            <div class = "popup_img_container">
                <h2 class = "popup_name primary">Name</h2>
                <p class = "popup_location tetriary">Location</p>
                <img class = "popup_img" src = "https://media.istockphoto.com/id/1409329028/vector/no-picture-available-placeholder-thumbnail-icon-illustration-design.jpg?s=612x612&w=0&k=20&c=_zOuJu755g2eEUioiOUdz_mHKJQJn-tDgIAhQzyeKUQ=">
            </div>
            <section class = "popup_info">
                <h3>Chinese Name</h3>
                <p></p>
                <h3>Alternative Names</h3>
                <p></p>
                <h3>Description</h3>
                <p></p>
            </section>
        </div>
        <script src = "/static/js/library.js"></script>
    </body>
</html>