<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Eco-Trail Information</title>
<link rel="stylesheet" href="..\static\css\rainforest.css">
</head>
<body>

<div class="container">

  <section class="top-header">
    <img src="..\static\assets\image.png" alt="image">
  <div class="text-section">
    <h2>Rainforest Zone</h2>
    <p>
      The rainforest zone in our Eco-Trail features over 50 species of 
      flora and fauna, thriving in an environment with abundant rainfall 
      and dominated by tall evergreen trees.
    </p>
  </div>
  </section>

  <section>
    <div class="sub-header">
      <h1>Rainforest Garden</h1>
    </div>
    <div class="grid-container">
      <div class="item1 grid-item">Image 1</div>
      <div class="item2 grid-item">Image 2</div>
      <div class="item3 grid-item">Rainforests are home to a rich biodiversity of living organisms, 
        while also acting as important carbon sinks.</div>
      <div class="item4 grid-item text-right">Furthermore, due to its large expanse across Earth, rainforests influence global weather patterns and rainfall.</div>
      <div class="item5 grid-item">
        <div class="image-text-container">
          <div class="image-container">Image 3</div>
          <div class="text-container">Beyond the produce of the organisms it harbors, the plants of the rainforest also provide sources of nutrition and medicines.</div>
        </div>
      </div>    
      <div class="item6 grid-item">
        <div class="image-text-container">
          <div class="image-container">Image 4</div>
        </div>
      </div>
      <div class="item7 grid-item"><p>Rainforests Once Covered</p> 
        <h1>14%</h1>
        <p>of land on Earth</p></div>
      <div class="item8 grid-item text-right"><p>Reduced to just </p> 
        <h1> 6% </h1> 
        <p> Due to deforestation and climate change</p>
      </div>
      <div class="item9 grid-item">
        <div class="image-text-container">
          <div class="image-container">Image 5</div>
        </div>
      </div>
      <div class="item10 grid-item">    
        <div>
        <p>As a mindfulness practice, enjoy</p> 
        <b>“Shinrin-yoku”</b>
        <p>in our rainforest zone.</p>
      </div>
      <div class="item11 grid-item text-right">      
        <p>Absorb the forest ambiance with a leisurely walk, engaging your senses with the scenery, fragrances, and the touch of nature.</p>
    </div>    
  
    <div style="color:white">.</div>
  </section>
  
  <div class="sub-header">
    <h1>Rain Garden</h1>
  </div>
  <div class="eco-trail-grid">
    <div class="eco-grid-item rain-image">
      Image1
    </div>
    <div class="eco-grid-item green text-right">
      <p>As you walk into the Eco-Trail, you will be greeted by our rain garden on the left.</p>
      <p>The rain garden is a shallow area planted with various native ground vegetation to reroute rain runoff.</p>
    </div>
    <div class="eco-grid-item green">
      <p>The rain garden is dry most of the time but is designed to temporarily hold and soak in rainwater runoff within 12 hours.</p>
    </div>
    <div class="eco-grid-item rain-image">
      Image2
    </div>
  </div>
  
  
  <br>
  <div class="sub-header">
    <h1>Ferns</h1>
  </div>
  <div class="eco-trail-grid">
    <div class="eco-grid-item green">
      <p>Ferns are some of the oldest living plants in the world. They can be found in diverse habitats from cold, temperate, and tropical climates.</p>
    </div>
    <div class="eco-grid-item rain-image">
      Image2
    </div>  
    <div class="eco-grid-item rain-image">
      Image1
    </div>  
    <div class="eco-grid-item green text-right">
      <p>There are thousands of species of these non-flowering vascular plants and they reproduce by spores.</p>
    </div>
  </div>
  
</div>
</body>
</html>
