body {
    font-size: 20;
    font-family: Arial;
    font-weight: 700;
    text-align: center;
}

.big_box {
    position: relative;
    width: 60%;
    height: 60%;
    margin: auto;
    padding-bottom: 200px;
    display: grid;
    grid-template-columns: 70% 30%;
}

.flip_horizontal {
    transform: scaleX(-1);
}

.grey_box {
    grid-column: 1;
    background-color: grey;
    height: 60%;
    width: 100%;
    left: auto;
    z-index: 0;
}


.white_box_that_has_text {
    position: relative;
    right: 1em;
    margin-top: 50%;
    grid-column: 2;
    width: 100%;
    height: 30%;
    border: 1px solid black;
    z-index: 1;
    background-color: white;
    overflow: auto;
}

.text {
    font-size: 62%;
}

h1 {
    font-size: 20;
    font-family: Arial;
    font-weight: 700;
    text-align: center;
}

p {
    font-size: 20;
    font-family: Arial;
    font-weight: 400;
    text-align: center;
}

.instagram_icon {
    width: 40px;
    height: 40px
}

.pink-box {
    position: absolute;
    transform: translateY(40%);
    background-color: pink;
}

.RdeV-website {
    width: 50%;
    position: relative;
    scale: 1.5;
    margin: auto;
}

@media screen and (max-width: 400px) {
    .big_box {
        width: 100%;
    }

    .grey_box {
        position: absolute;
        height: 60%;
        grid-column: None;
    }

    .white_box_that_has_text {
        position: absolute;
        grid-column: None;
        width: 70%;
        align-self: center;
    }
}

section {
    opacity: 0.1;
}

@keyframes fade-in-left-to-right {
    0% {
        transform: translateX(-50%);
        opacity: 0;
    }

    60% {
        transform: translateX(0);
    }

    100% {
        opacity: 1;
    }
}

.fade-in {
    animation: fade-in-left-to-right forwards 1s linear;
    animation-delay: 0.2s;
}

.hide {
    visibility: hidden;
}

.debugging-thing {
    background-color: green;
}