body {
    font-size: 20;
    font-family: Arial;
    font-weight: 700;
    text-align: center;
}

.big_box {
    position: relative;
    width: 90%;
    height: 300px;
    padding: 25px;
    margin: auto;
    padding-bottom: 200px;
}

.white_box_that_has_text {
    position: absolute;
    width: 50%;
    height: 30%;
    border: 1px solid black;
    right: auto;
    z-index: 1;
    background-color: white;
    right: 0;
    transform:
        translateY(50%);
}

.grey_box {
    position: absolute;
    background-color: grey;
    height: 70%;
    width: 60%;
    left: auto;
    z-index: 0;
}